
.cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.card {

  margin: 10px;
  transition: border-color 0.5s ease;
  border: 2px;
}

.card:hover{
  border-color: cornflowerblue;
}
